<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />


  <!-- Boostrap reference, could possilby be used in a smarter way -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!-- From Google fonts: Thanks to  Indian Type Foundry, Jonny Pinhorn -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

  <!-- Our own stylescheets -->
  <link rel="stylesheet" href="/css/styleDynamic.css" type="text/css">
  <link rel="stylesheet" href="/css/carousel.css" type="text/css">


  <title>Trolling Trolls</title>
  

</head>  

<body>
  <header>
    <div class="leftSide">
      <a href="style">
       <img src="images/Group10.png" id="bubble" alt="Bubble Picture">
      </a>
      <a id=titleText href="style">TrollingTrolls</a>
    </div>
    <div class=rightSide>
      
      <a id=search href="style">Search</a>
      <a id=educate href="education">Educate</a>
      <a id=about href="about">About</a>

    </div>
  </header>

  <div class="main horizontal-content">
      
      <div class = " snap-start">
        <h2>What is TrollingTrolls?</h2>

        <p>

          Trolling Trolls is a collaborative project by Copenhagen-based students of different educational backgrounds.
          As part of the digital education organisation Techlabs
          we embarked on three different tracks - UX Design, Web Development & Data Science - and applied the concepts we learned to develop a product.<br><br>
          As one of the externalities of the digital age, the circulation of hate speech on social media makes maintaining a healthy public debate very difficult.
          On top of that, social media platforms are struggling to keep up with the sheer masses of content and as recent revelations
          brought to light, some of these platforms appear to prioritise profit over enforcing proper content moderation.<br><br>
          It is for this reason that we decided to develop a product that aims to educate on hate speech on social media. TrollingTrolls provides a tool for
          detecting hateful comments on Twitter. The user can search for certain hashtags in a specific timeframe to gain insights on demographics, use over 
          time and the amount of hateful content these hashtags are used in combination with. 
        
        </p>
        <p>

          The Team <br>

          Web Development	| Noel <br>Data Science | Maria-Clara Neu | Mads Wolff Strand | Michael Debus | Tom Hellmann <br>UX Design		| Katerina Komarkova
        </p>
    </div>
  </div>
</body>
</html>