<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />


  <!-- Boostrap reference, could possilby be used in a smarter way -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <!-- From Google fonts: Thanks to  Indian Type Foundry, Jonny Pinhorn -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

  <!-- Our own stylescheets -->
  <link rel="stylesheet" href="/css/styleDynamic.css" type="text/css">
  <link rel="stylesheet" href="/css/carousel.css" type="text/css">


  <title>Trolling Trolls</title>
  

</head>  

<body>
  <header>
    <div class="leftSide">
      <a href="style">
       <img src="images/Group10.png" id="bubble" alt="Bubble Picture">
      </a>
      <a id=titleText href="style">TrollingTrolls</a>
    </div>
    <div class=rightSide>
      
      <a id=search href="search">Search</a>
      <a id=educate href="education">Educate</a>
      <a id=about href="about">About</a>

    </div>
  </header>

  <div class="main vertical-content">
    <div class = "content1 snap-start">
      <h2>What is Hate Speech?</h2>
      <p>


        There is no consensus on what hate speech actually is as society interprets it differently. 
        The United Nations describes it as following:
      </p>

      <p class="quote">
 
        “The term hate speech is understood as any kind of communication in speech, writing or behaviour, that attacks or uses
        pejorative or discriminatory language with reference to a person or a group on the basis of who they are, in other words, 
       based on their religion, ethnicity, nationality, race, colour, descent, gender or other identity factor. This is often 
        rooted in, and generates intolerance and hatred and, in certain contexts, can be demeaning and divisive.”
      </p>

      <p>
        What makes it tricky and complex is its identification and moderation. What one person identifies as hate speech, may just be offensive to another. 
        But what is known is that hate speech in an online environment inicites discrimination and attacks in real life. 
        Actions of social media platforms to block hateful content is met with debates on the infringement of freedom of speech.
        This ambiguity only adds to the complexity of dealing with it. 
      </p>

      <h2>How do online platforms deal with hate speech?</h2>
      <p>

        In many cases, social media platforms employ machine learning algorithms and human 
        content moderators to navigate the sheer masses of content that is generated everyday. <br><br>

        Machine learning algorithms filter through the content and in cases where it is unsure, the content is passed 
        on to a human moderator. However, these tools are far from flawless as algorithms are subject to contextual interpretations. 
        This becomes especially difficult when new ways of expression, such as emojis, are used in online communications.


      </p>

















      
    </div>

  </div>

  <!-- Boostrap reference, could possilby be used in a smarter way -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>