<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />

  <title>Text</title>
  
</head>

<body>
  <h2> Hi, I am dooing the thing <h2> 
  <!-- The following code test the implemenation of data.  -->
  {{user}}  {{RT}} {{Message}}
  <div id="dashi">
    
  </div>




  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/vis.js"></script>
  <script type="text/javascript" async="false">
    let tweets = "{{dataKey}}"
    //Note this regular expression replaces &quot with quotation marks, the g means globally (all instead of just the first)
    tweets = JSON.parse(tweets.replace(/&quot;/g,'"'))
    analyze(tweets)
  </script>

</body>
</html>
