<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />

  <!-- From Google fonts: Thanks to  Indian Type Foundry, Jonny Pinhorn -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styleDynamic.css" type="text/css">
  <title>Trolling Trolls</title>
  
</head>

<body>
  <header>
    <div class=leftSide>
      <a href="https://www.ku.dk/">
       <img src="images/Group10.png" id="bubble" alt="Bubble Picture">
      </a>
      <a id=titleText>TrollingTrolls</a>
    </div>
    <div class=rightSide>
      
      <a id=search href="amazon.de">Search</a>
      <a id=educate href="education">Educate</a>
    </div>

  </header>

  <div class="main">
    <img src="images\trollsAndCircles.png" id="trolls" alt="trolls">
    <div id="notPicture">
      <h1 id=topLine>Become a good troll</h1>
      <h2 id=bottomLine>and help reduce hate speech</h2>
      <button class=button-main id=join>Join the army</button>
    </div>
  </div>

</body>
</html>